# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE / Editor
.idea/
../idea/

# vscode
.vscode/

# Mac OSX
.DS_Store

# Vim swap files
*.swp

# config
config/config.toml

# upload
static/upload/

# logger
app.log
app.log.err
